# ignore the following file types:

#*.cbp
#*.layout
*.o
*.mod
*.smod
src/Simulator/.nfs*
src/Partitioner/.nfs*
input/EX3_Limiter/Analysis/.nfs*


# ignoring the following folders:
output/
.metadata/
visualizer/*
visualize/
!visualizer/*.py
