# ignore the following file types:

*.cbp
*.layout
*.o
*.mod
src/Simulator/.nfs*
src/Partitioner/.nfs*
input/EX3_Limiter/Analysis/.nfs*

# ignoring the following folders:
output/
visualizer/
.metadata/
